{% extends "base.html" %}

{% block content %}
<form action="" method="post" style="padding: 40px">
      {{ form.hidden_tag() }}
    <h2>Adding a Job</h2>
    <p>
        {{ form.job.label }}<br>
        {{ form.job(class="form-control") }}<br>
        {% for error in form.job.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.team_leader.label }}<br>
        {{ form.team_leader(class="form-control") }}<br>
        {% for error in form.team_leader.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.work_size.label }}<br>
        {{ form.work_size(class="form-control") }}<br>
        {% for error in form.work_size.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.collaborators.label }}<br>
        {{ form.collaborators(class="form-control") }}<br>
        {% for error in form.collaborators.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>
        {{ form.hazard_category_id.label }}<br>
        {{ form.hazard_category_id(class="form-control") }}<br>
        {% for error in form.hazard_category_id.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
    </p>

    <p>{{ form.job_finished() }} {{ form.job_finished.label }}</p>

    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div>{{ message }}</div>
</form>
{% endblock %}