{% extends "base.html" %}

{% block content %}
<h2 align="center">Works log</h2>
    <a href="/departments" class="btn btn-secondary" style="margin-right: 20px; margin-left: 40px">View departments</a>
{% if current_user.is_authenticated %}
    <a class="btn btn-primary" href="/editjob">Add job</a>
{% endif %}
<div style="padding-right: 40px; padding-left: 40px; padding-top: 20px">
    {% for job in jobs %}
    <h3>Action #{{ loop.index }}</h3>
    <table class="table" align="center">
        <thead>
        <tr class="table-secondary">
            <td width="30%">Title of activity</td>
            <td width="20%">Team leader</td>
            <td width="12.5%">Duration</td>
            <td width="12.5%">List of collaborators</td>
            <td width="12.5%">Hazard Category</td>
            <td width="12.5%">Is finiched</td>
        </tr>
        </thead>
        <tr class="table-primary table-center-vertical">
            <td>{{ job.job }}</td>
            <td>{{ names[job.team_leader] }}</td>
            <td>{{ job.work_size }} hours</td>
            <td align="center">{{ job.collaborators }}</td>
            <td align="center">{{ job.hazard_category_id }}</td>
            {% if job.is_finished %}
            <td class="table-success" align="center">Finiched</td>
            {% else %}
            <td class="table-danger" align="center">Is not finiched</td>
            {% endif %}
        </tr>
    </table>
    {% if current_user.id == 1 or current_user.id == job.creator %}
    <div style="padding-bottom: 30px">
        <a class="btn-edit-job" href="/editjob/{{ job.id }}">Edit Job</a>
        <a class="btn-dell-job" href="/delete/{{ job.id }}">Delete Job</a>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}